/* Add a black background color to the top navigation */
.topnav {
  background-color: darkslategray;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
  font-size: 18px;
  font-family: Helvetica;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}


.title {
  color:white;
  font-size:18px;
  margin-left: auto;
  margin-right: auto;
  font-family: Helvetica;
  text-align: center;
  font-weight: bold;
}
p {
  color:black;
  font-size:16px;
  margin-left:10px;
  margin-right:10px;
  font-family: Helvetica;
}
/* The grid container */
.grid-container {
    display: grid;
    justify-items: center;
    grid-template-areas: 
      'left middle right';
    grid-column-gap: 10px; /* gap between the columns */
  } 
.left{
    background-color: rgb(129, 163, 238);
  }
.middle{
    background-color: none;
  }
.right {
    background-color: none;
    padding: 10px;
  }
/* Style the left column */
.left {
    grid-area: left;
  }
  
/* Style the middle column */
.middle {
    grid-area: middle;
  }
  
  /* Style the right column */
.right {
    grid-area: right;
  }
  
  /* Style the footer */
.footer {
    grid-area: footer;
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
  }
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .grid-container  {
      grid-template-areas: 
        'left left left' 
        'middle middle middle' 
        'right right right' 
      }
  }

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3% 3% 12% 8%;
  }

  .text-box-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0% 3% 5% 8%;
  }

  .top-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkslategray;
    font-family: Helvetica;
  }

  .ticker-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkslategray;
    color: white;
    font-size:16px;
    font-family: Helvetica;
  }

/* Color schemes */
.level-1-br {
    background: linear-gradient(104.74deg,green 0%, blue 60%, red 100%);
  }
.level-2-br {
    background: linear-gradient(104.74deg,green 0%, blue 50%, red 100%);
  }
.level-3-br {
    background: linear-gradient(104.74deg,green 0%, blue 30%, red 100%);
  }
.level-4-br {
    background: linear-gradient(104.74deg,blue 0%, red 100%);
  }
.lightblue-br {
    background: rgb(129, 163, 238);
  }
.no-br {
    background: none;
  }

  /* input text box to enter value to run model */
.user_entered_index_value {
    width: 90%;
    margin:0 auto;
    height: 50px;
    margin: 15px;
    border:none;
    font-size: 40px;
}
label {
    font-size: 22px;
}
/* moving button */
.button {
    margin-top: 10px;
    font-size: 24px;
    box-shadow: rgba(101, 41, 255, 0.15) 0px 10px 20px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
    justify-self: center;
    white-space: nowrap;
    border-radius: 30px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 16px;
    outline: none;
    width: 100%;
    transition: all 0.8s cubic-bezier(0.2, 0.8, 0.2, 1.2) 0s;
    text-align: center;
    -webkit-animation: action 1s infinite  alternate;
    animation: action 1s infinite  alternate;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.11),
                0px 2px 2px 0px rgba(0,0,0,0.11),
                -3px 4px 4px 0px rgba(0,0,0,0.11),
                0px 3px 8px 0px rgba(0,0,0,0.11),
                -9px 9px 16px 0px rgba(0,0,0,0.11),
                -28px 13px 32px 0px rgba(0,0,0,0.11);
  }
.button:hover {
    opacity:0.5;
}
/* text boxes for model input */
.fieldset {
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
    transition: all 0.8s cubic-bezier(0.2, 0.8, 0.2, 1.2) 0s;
    color: white;
    text-align: center;
    font-family: Helvetica;
    font-weight: 600;
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.11),
                0px 2px 2px 0px rgba(0,0,0,0.11),
                -3px 4px 4px 0px rgba(0,0,0,0.11),
                0px 3px 8px 0px rgba(0,0,0,0.11),
                -9px 9px 16px 0px rgba(0,0,0,0.11),
                -28px 13px 32px 0px rgba(0,0,0,0.11);
}
@-webkit-keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
.form {
    width: 500px;
    height: 500px;
    
}

.align-center {
  display: flex;
  align-items: center;
}
/* shadow text boxes */
.element {
  width: 90%;
  background-color: rgba(255, 255, 255, 1);
  
  color: #000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.11),
              0px 2px 2px 0px rgba(0,0,0,0.11),
              -3px 4px 4px 0px rgba(0,0,0,0.11),
              0px 3px 8px 0px rgba(0,0,0,0.11),
              -9px 9px 16px 0px rgba(0,0,0,0.11),
              -28px 13px 32px 0px rgba(0,0,0,0.11);
}
