.container {
    display: grid;
    grid-template-columns: column;
    align-content: center;
    justify-content: center;
    font-family: Arial;

}

.grid-container-3-cols {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-items: center;
}

.grid-container-2-cols {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    justify-items: center;
}

.grid-child {
    align-content: center;
    justify-content: center;
    font-family: Arial;

}

.level-1-br {
    background: linear-gradient(104.74deg,green 0%, blue 60%, red 100%);
}
.level-2-br {
    background: linear-gradient(104.74deg,green 0%, blue 50%, red 100%);
}
.level-3-br {
    background: linear-gradient(104.74deg,green 0%, blue 30%, red 100%);
}
.level-4-br {
    background: linear-gradient(104.74deg,blue 0%, red 100%);
}
.no-br {
    background: none;
}


.user_entered_index_value {
    width: 95%;
    margin:0 auto;
    height: 50px;
    margin: 15px;
    border:none;
    font-size: 40px;
}

label {
    font-size: 25px;
}

.button {
    margin-top: 10px;
    font-size: 24px;
    box-shadow: rgba(101, 41, 255, 0.15) 0px 10px 20px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
    justify-self: center;
    white-space: nowrap;
    /* background: linear-gradient(104.74deg,green 0%, blue 100%); */
    /* background: linear-gradient(104.74deg,green 0%, rgb(65, 150, 4) 100%); */
    border-radius: 30px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 16px 60px;
    outline: none;
    width: 100%;
    transition: all 0.8s cubic-bezier(0.2, 0.8, 0.2, 1.2) 0s;
    text-align: center;
    -webkit-animation: action 1s infinite  alternate;
    animation: action 1s infinite  alternate;
}
.button:hover {
    opacity:0.5;
}

p {
    color:white;
    font-size:50px;
    text-align: center;
}

.fieldset {
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
    /* -webkit-animation: action 1s infinite  alternate;
    animation: action 1s infinite  alternate; */
    transition: all 0.8s cubic-bezier(0.2, 0.8, 0.2, 1.2) 0s;
    /* background: linear-gradient(104.74deg,red 0%, blue 100%); */
    /* background-color:green; */
    color: white;
    text-align: center;
    font-weight: 600;
   
    
}

@-webkit-keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}




.form {
    width: 500px;
    height: 500px;
    
}


