/* The grid container */
.grid-container {
    display: grid;
    grid-template-areas: 
      'left left middle middle middle right right right';
    grid-column-gap: 10px; /* gap between the columns */
  } 
.left{
    background-color: rgb(129, 163, 238);
  }
.middle{
    background-color: none;
  }
.right {
    background-color: none;
  padding: 10px;
  /* height: 300px; Should be removed. Only for demonstration */
  }
/* Style the left column */
.left {
    grid-area: left;
  }
  
/* Style the middle column */
.middle {
    grid-area: middle;
  }
  
  /* Style the right column */
.right {
    grid-area: right;
  }
  
  /* Style the footer */
.footer {
    grid-area: footer;
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
  }
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .grid-container  {
      grid-template-areas: 
        'left left left left left left left left' 
        'middle middle middle middle middle middle middle middle' 
        'right right right right right right right right' 
    }
  }
.level-1-br {
    background: linear-gradient(104.74deg,green 0%, blue 60%, red 100%);
}
.level-2-br {
    background: linear-gradient(104.74deg,green 0%, blue 50%, red 100%);
}
.level-3-br {
    background: linear-gradient(104.74deg,green 0%, blue 30%, red 100%);
}
.level-4-br {
    background: linear-gradient(104.74deg,blue 0%, red 100%);
}
.lightblue-br {
    background: rgb(129, 163, 238);
}
.no-br {
    background: none;
}
.user_entered_index_value {
    width: 95%;
    margin:0 auto;
    height: 50px;
    margin: 15px;
    border:none;
    font-size: 40px;
}
label {
    font-size: 22px;
}
.button {
    margin-top: 10px;
    font-size: 24px;
    box-shadow: rgba(101, 41, 255, 0.15) 0px 10px 20px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
    justify-self: center;
    white-space: nowrap;
    border-radius: 30px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 16px 60px;
    outline: none;
    width: 100%;
    transition: all 0.8s cubic-bezier(0.2, 0.8, 0.2, 1.2) 0s;
    text-align: center;
    -webkit-animation: action 1s infinite  alternate;
    animation: action 1s infinite  alternate;
}
.button:hover {
    opacity:0.5;
}

p {
    color:black;
    font-size:50px;
    text-align: center;
}

.fieldset {
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
    transition: all 0.8s cubic-bezier(0.2, 0.8, 0.2, 1.2) 0s;
    color: white;
    text-align: center;
    font-weight: 600;
}
@-webkit-keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
.form {
    width: 500px;
    height: 500px;
    
}
/* .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.container {
    height: 200px;
    position: relative;
    border: 3px solid green;
} */

