<!DOCTYPE html>
<html>
    <head>
        <title>Stock Market Predictor</title>
        <link rel="icon" type="image/x-icon" href="static/images/favicon.ico">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
        .parallax {
          /* The image used */
          background-image: url("static/images/ML1-wallpaper.jpg");
        
          /* Set a specific height */
          min-height: 100px; 
        
          /* Create the parallax scrolling effect */
          background-attachment: fixed;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
        </style>

    </head>
    <body>
    <header>
        <div class="topnav">
            <a href="/">Home</a>
            <a class="active"href="/models">Models</a>
          </div>
    </header>



    <div class="parallax">
        <div class="grid-item" style="padding: 3% 3% 3% 3%;">
            <div class="element align-center" style="text-align: center">
                <p style="font-size: 24px; text-align: center">Three different machine learning models were built to uncover the specific 
                    relationship between the current Vix value and the S&P 500 return one year later.
                </p>

            </div>
        </div>
    </div>
        

    <div class="grid-container">
    
        <div class="left no-br align-center">
            
            <div class="grid-item" style="padding: 1% 1% 5% 6%;">
                <div class="element align-center" style="width: 100%;">
                    <p><span style="font-size: 24px;">Model 1:<br/>
                        A looping Neural Network</span><br/><br/>

                    </p>
                </div>
            </div>
        </div>
        <div class="middle">
            <div class="grid-child no-br">
                <img src="static/images/model1.jpg" width="800px" style="padding: 1%" alt="Screenshot of Model 1"/>           

                        <p style="width: 800px;">A screenshot of Model 1's "triple loop" which cycled through every unique pair of 21 securities, 
                            and then tested each of them against the future results of two other securities (the S&P 500 and oil futures).
                            Each pass consisted of 420 tests, after which the other parameters (features used as model inputs, number of days used 
                            to determine the future return, etc.) were adjusted, and then the process was repeated.
                        </p>
            </div>
        </div>  
        <div class="right">
            <div class="grid-item" style="padding: 1% 1% 5% 6%;">
                <div class="element align-center" style="width: 100%;">
                    <p><span style="font-size: 20px;">
                        21 securities were evaluated as inputs:</span><br/>
                        ☆ S&P 500 (^GSPC)<br/>
                        ☆ Dow Jones Industrial Average (^DJI)<br/>
                        ☆ NASDAQ Composite (^IXIC)<br/>
                        ☆ Russell 2000 (^RUT)<br/>
                        ☆ S&P Consumer Staples Sector (XLP)<br/>
                        ☆ S&P Energy Sector (XLE)<br/>
                        ☆ S&P Financial Sector (XLF)<br/>
                        ☆ S&P Health Care Sector (XLV)<br/>
                        ☆ S&P Industrial Sector (XLI)<br/>
                        ☆ S&P Materials Sector (XLB)<br/>
                        ☆ S&P Real Estate Sector (XLRE)<br/>
                        ☆ S&P Technology Sector (XLK)<br/>
                        ☆ S&P Utilities Sector (XLU)<br/>
                        ☆ S&P Communication Services (XLC)<br/>
                        ☆ S&P Consumer Discretionary (XLY)<br/>
                        ☆ CBOE Volatility Index (^VIX)<br/>
                        ☆ CBOE 3-Month Volatility (^VIX3M)<br/>
                        ☆ Crude Oil Futures (CL=F)<br/>
                        ☆ Treasury Yield 10 Years (^TNX)<br/>
                        ☆ Bitcoin USD (BTC-USD)<br/>
                        ☆ CMC Crypto 200 Index (^CMC200)<br/>
                        <br/><br/>
                        <span style="font-size: 20px;">
                        Two others measured future results:</span><br/>
                        ☆ SPY (an ETF that mirrors the S&P 500)<br/>
                        ☆ USO (an ETN made up of oil futures)<br/>
                    </p>
                </div>
            </div>
        </div>
    </div>


    
        <div class="text-box-item">
            <div class="element align-center">
                <p>In this chart, the future returns of S&P 500 are aligned with the current value of the Vix, showing the strong 
                    positive coorelation between positive S&P 500 returns and high Vix values. For potential investors, a good time to 
                    consider investing for a one-year period in the S&P 500 would be when the Vix is above 50, but a Vix over 35 has 
                    also yielded frequent positive results.  
                </p>
            </div>
        </div>
        <div class="top-item">
            <p style="color: white; font-size: 14px;">
                Real-time API data on this website is collected from <a href="https://algotrading101.com/learn/yfinance-guide/" target="_blank" rel="noopener noreferrer" style="color: white;">yfinance API</a>.
                API data that was used in building the machine learning models was obtained from <a href="https://theautomatic.net/yahoo_fin-documentation/" target="_blank" rel="noopener noreferrer" style="color: white;">yahoo-fin API</a>.
                Both APIs source their data from <a href="https://finance.yahoo.com/" target="_blank" rel="noopener noreferrer" style="color: white;">yahoo! Finance</a>.
                <br/><br/>
                Past  performance  may  not  be  indicative  of  future  results.  There can be no assurance that the future performance 
                of any specific investment, investment strategy, or product made reference to directly or indirectly on this website 
                will be profitable, equal any corresponding indicated historical performance levels, or be suitable for your portfolio.
                </p>
        </div>
    
    </body>

</html>