<!DOCTYPE html>
<html>
    <head>
        <title>Stock Market Predictor</title>
        <link rel="icon" type="image/x-icon" href="static/images/favicon.ico">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
        .parallax {
          /* The image used */
          background-image: url("static/images/ML1-wallpaper.jpg");
        
          /* Set a specific height */
          min-height: 100px; 
        
          /* Create the parallax scrolling effect */
          background-attachment: fixed;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
        </style>

    </head>
    <body>
    <header>
        <div class="topnav">
            <a href="/">Home</a>
            <a class="active"href="/models">Models</a>
            <p class="title">STOCK MARKET PREDICTOR: Using the Vix to Predict the S&P 500 in One Year</p>
          </div>
    </header>

        <div class="parallax">
            <div class="grid-item" style="padding: 3% 3% 3% 3%;">
                <div class="element align-center" style="text-align: center">
                    <p style="font-size: 24px; text-align: center">Three different machine learning models were built to uncover the specific 
                        relationship between the current Vix value and the S&P 500 return one year later.
                    </p>

                </div>
            </div>
        </div>
        

        <div class="grid-container">
        
            <div class="left no-br align-center">
                
                <div class="grid-item" style="padding: 1% 1% 5% 6%;">
                    <div class="element align-center" style="width: 100%;">
                        <p><span style="font-size: 24px;">Model 1:<br/>
                            Looping a Neural Network</span><br/><br/>
                            Google Colaboratory                            fgdfjjgbdgdjbdb  guh erh hg r gh .ghuiruihg urhg hr uhrh h rh g uhrg rghg uh urgh gh  h grgh reuierh g erui 
                            gr  hguirg hug ur r g h reug g ur ruig ueruig er ug h eruiuig g ug urg uerigh urih ugh uireg ugh uguhg uh
                            ejeg keguiggrf uhu rf rui ruieergh  g  g  
                        </p>
                    </div>
                </div>
            </div>
            <div class="middle">
                <div class="grid-child no-br">
                    <img src="static/images/model1.jpg" width="800px" style="padding: 1%" alt="Screenshot of Model 1"/>           

                            <p style="width: 700px;">A screenshot of Model 1's three-input loop which cycled through every unique pair of 21 securities, 
                                and then tested each of them against the future results of two other securities (the S&P 500 and oil futures).
                                Each run consisted of 420 tests, after which the other parameters (features used as model inputs, number of days used 
                                to determine the future return, etc.) were adjusted, and then the process was repeated.
                            </p>
                </div>
            </div>  
            <div class="right">
                <div class="grid-item" style="padding: 1% 1% 5% 6%;">
                    <div class="element align-center" style="width: 100%;">
                        <p><span style="font-size: 20px;">
                            21 securities were evaluated as inputs:</span><br/>
                            ☆ S&P 500 (^GSPC)<br/>
                            ☆ Dow Jones Industrial Average (^DJI)<br/>
                            ☆ NASDAQ Composite (^IXIC)<br/>
                            ☆ Russell 2000 (^RUT)<br/>
                            ☆ S&P Consumer Staples Sector (XLP)<br/>
                            ☆ S&P Energy Sector (XLE)<br/>
                            ☆ S&P Financial Sector (XLF)<br/>
                            ☆ S&P Health Care Sector (XLV)<br/>
                            ☆ S&P Industrial Sector (XLI)<br/>
                            ☆ S&P Materials Sector (XLB)<br/>
                            ☆ S&P Real Estate Sector (XLRE)<br/>
                            ☆ S&P Technology Sector (XLK)<br/>
                            ☆ S&P Utilities Sector (XLU)<br/>
                            ☆ S&P Communication Services (XLC)<br/>
                            ☆ S&P Consumer Discretionary (XLY)<br/>
                            ☆ CBOE Volatility Index (^VIX)<br/>
                            ☆ CBOE 3-Month Volatility (^VIX3M)<br/>
                            ☆ Crude Oil Futures (CL=F)<br/>
                            ☆ Treasury Yield 10 Years (^TNX)<br/>
                            ☆ Bitcoin USD (BTC-USD)<br/>
                            ☆ CMC Crypto 200 Index (^CMC200)<br/>
                            <br/><br/>
                            <span style="font-size: 20px;">
                            The results were measured for two securities:</span><br/>
                            ☆ SPY (an ETF that mirrors the S&P 500)<br/>
                            ☆ USO (an ETN made up of oil futures)<br/>
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <div class="parallax">
            <div>
                <br/>
            </div>
        </div>
            

        <div class="grid-container">
        
            <div class="left no-br align-center">
                <div class="grid-item" style="padding: 1% 1% 5% 6%;">
                    <div class="element align-center" style="width: 100%;">
                        <p><span style="font-size: 24px;">Model 2:<br/>
                            Optimizing the Neural Network</span><br/><br/>
                            Google Colaboratory                             fgdfjjgbdgdjbdb  guh erh hg r gh .ghuiruihg urhg hr uhrh h rh g uhrg rghg uh urgh gh  h grgh reuierh g erui 
                            gr  hguirg hug ur r g h reug g ur ruig ueruig er ug h eruiuig g ug urg uerigh urih ugh uireg ugh uguhg uh
                            ejeg keguiggrf uhu rf rui ruieergh  g  g  
                        </p>
                    </div>
                </div>

            </div>
            <div class="middle">
                <div class="no-br" style="padding: 10% 1% 5% 0%; width: 600px;">
                    <img src="static/images/model2.jpg" width="600px" style="padding: 1%" alt="Screenshot of Model 2"/>           
                </div>
            </div>  
            <div class="right">
                <div class="no-br" style="padding: 1% 1% 5% 2%; width: 500px;">
                    <img src="static/images/vix_vix3m_sp500.jpg" width="500px" style="padding: 1%" alt="Vix and Vix3m Plot"/>           
                    <img src="static/images/vix_seaborn.jpg" width="500px" style="padding: 1%" alt="Vix Seaborn Regression Plot"/>
                </div>
                
            </div>
        </div>


        <div class="parallax">
            <div>
                <br/>
            </div>
        </div>
            

        <div class="grid-container">
        
            <div class="left no-br align-center">
                <div class="grid-item" style="padding: 1% 1% 5% 6%;">
                    <div class="element align-center" style="width: 100%;">
                        <p><span style="font-size: 24px;">Model 3:<br/>
                            Linear and Non-linear Regression</span><br/><br/>
                            fgdfjjgbdgdjbdb  guh erh hg r gh .ghuiruihg urhg hr uhrh h rh g uhrg rghg uh urgh gh  h grgh reuierh g erui 
                             gr  hguirg hug ur r g h reug g ur ruig ueruig er ug h eruiuig g ug urg uerigh urih ugh uireg ugh uguhg uh
                             ejeg keguiggrf uhu rf rui ruieergh  g  g  
                        </p>
                    </div>
                </div>

            </div>
            <div class="middle">
                <div class="no-br" style="padding: 1% 1% 5% 0%; width: 600px;">
                    <img src="static/images/model3.jpg" width="100%" style="padding: 1%" alt="Screenshot of Model 3"/>
                    <img src="static/images/model3_sql.jpg" width="100%" style="padding: 1%" alt="Model3 SQL"/>            
                </div>
            </div>  
            <div class="right">
                <div class="no-br" style="padding: 5% 1%; width: 600px;">
                    <img src="static/images/vix_expanded_seaborn.jpg" width="600px" style="padding: 1%" alt="Model3 SQL"/>     
                    <img src="static/images/vix_sp500_regressions.jpg" width="600px" style="padding: 1%" alt="Vix-S&P 500 Chart"/>        
                </div>
                
            </div>
        </div>
        <div class="topnav">
            <a href="/">Home</a>
            <a class="active"href="/models">Models</a>
            <p style="color: white;padding: 0 0 0 220px;">
            Past  performance  may  not  be  indicative  of  future  results.  There can be no assurance that the future performance 
            of any specific investment, investment strategy, or product made reference to directly or indirectly on this website 
            will be profitable, equal any corresponding indicated historical performance levels, or be suitable for your portfolio.
            </p>
        </div>
        <div class="top-item">
            <p style="color: white;">
                    Real-time API data on this website is collected from <a href="https://algotrading101.com/learn/yfinance-guide/" target="_blank" rel="noopener noreferrer" style="color: white;">yfinance API</a>.
                    API data that used in building the machine learning models obtained from <a href="https://theautomatic.net/yahoo_fin-documentation/" target="_blank" rel="noopener noreferrer" style="color: white;">yahoo-fin API</a>.
                    All API data is originally sourced from <a href="https://finance.yahoo.com/" target="_blank" rel="noopener noreferrer" style="color: white;">yahoo! Finance</a>.
                    </p>
        </div>
    
    </body>

</html>