<!DOCTYPE html>
<html>
    <head>
        <title>Stock Market Predictor</title>
        <link rel="icon" type="image/x-icon" href="static/images/favicon.ico">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
        .parallax {
          /* The image used */
          background-image: url("static/images/ML1-wallpaper.jpg");
        
          /* Set a specific height */
          min-height: 100px; 
        
          /* Create the parallax scrolling effect */
          background-attachment: fixed;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
        </style>

    </head>
    <body>
    <header>
    
        <div class="topnav">
            <a href="/">Home</a>
            <a class="active"href="/models">Models</a>
            <p class="title">STOCK MARKET PREDICTOR: Using the Vix to Predict S&P 500 Future Returns</p>
          </div>
    
    </header>

    <body>

        <div class="parallax">
            <div class="grid-item" style="padding: 3% 3% 3% 3%;">
                <div class="element align-center" style="text-align: center">
                    <p style="font-size: 24px; text-align: center">Three different machine learning models were built and used in sequence to uncover the specific 
                        relationship between the current Vix value and the future return of the S&P 500 return one year later:
                    </p>
                </div>
            </div>
        </div>
        

        <div class="grid-container">
            <div class="left no-br align-center">
                <div class="grid-item" style="padding: 1% 1% 5% 6%;">
                    <div class="element align-center" style="width: 100%;">
                        <p><span style="font-size: 24px;">Model 1:<br/>
                            Looping a Neural Network Model</span><br/><br/>
                            A Neural Network Model was run in Google Colaboratory. A list of 21 market ticker symbols were read into the code, 
                            and a loop determined each unique pair. For each pair, there were two different securities that were tested against for 
                            successful results. This created groups of three ticker symbols, and a total of 420 unique combinations to test with each model run.
                            <br/><br/>
                            Each combination of three securities was then processed and tested via an automated inner loop wrapped in an outer loop.
                            'yahoo! Finance' data for each was retrieved and loaded into pandas dataframes via a yahoo-fin API. The data was cleaned and 
                            merged into a single dataframe. The data was then scaled with StandardScaler, trained, compiled, and fit into a ReLU neural network model with 
                            2 hidden layers, 5 nodes, and 5 epochs.
                            <br/><br/>
                            Results were reported for each of the 420 combinations. After completion, the input features and other 
                            variables (such as the length of time the results were testing) were adjusted, and the process was run to loop through and 
                            test the 420 combinations again with the adjustments. This entire process was repeated numerous times, and results were recorded.
                            Accuracy results over 70% for these first rounds of testing were noted.
                            <br/><br/>
                            At this point, it became clear that combinations containing the 'VIX' and 'VIX3M' closing values were generally returning the highest results. 
                            The outcomes tested for a Boolean 'yes/no' positive result. They were highest when joined with the S&P 500 results, and a timeframe of 
                            one year was especially promising. Therefore, testing the S&P 500 results with the VIX and VIX3M closing values became the inputs for the next step, Model 2.
                        </p>
                    </div>
                </div>
            </div>
            <div class="middle">
                <div class="grid-child no-br">
                    <img src="static/images/model1.jpg" width="800px" style="padding: 1%" alt="Screenshot of Model 1"/>           
                        <p style="width: 700px;">A screenshot of Model 1's three-input loop which cycled through every unique pair of 21 securities, 
                            and then tested each of them against the future results of two other securities (the S&P 500 and oil futures).
                            Each run consisted of 420 tests, after which the other parameters (features used as model inputs, number of days used 
                            to determine the future return, etc.) were adjusted, and then the process was repeated.
                        </p>
                </div>
            </div>  
            <div class="right">
                <div class="grid-item" style="padding: 5% 1% 5% 6%;">
                    <div class="element align-center" style="width: 100%;">
                        <p><span style="font-size: 20px;">
                            21 ticker symbols were evaluated as inputs:</span><br/>
                            ☆ S&P 500 (^GSPC)<br/>
                            ☆ Dow Jones Industrial Average (^DJI)<br/>
                            ☆ NASDAQ Composite (^IXIC)<br/>
                            ☆ Russell 2000 (^RUT)<br/>
                            ☆ S&P Consumer Staples Sector (XLP)<br/>
                            ☆ S&P Energy Sector (XLE)<br/>
                            ☆ S&P Financial Sector (XLF)<br/>
                            ☆ S&P Health Care Sector (XLV)<br/>
                            ☆ S&P Industrial Sector (XLI)<br/>
                            ☆ S&P Materials Sector (XLB)<br/>
                            ☆ S&P Real Estate Sector (XLRE)<br/>
                            ☆ S&P Technology Sector (XLK)<br/>
                            ☆ S&P Utilities Sector (XLU)<br/>
                            ☆ S&P Communication Services (XLC)<br/>
                            ☆ S&P Consumer Discretionary (XLY)<br/>
                            ☆ CBOE Volatility Index (^VIX)<br/>
                            ☆ CBOE 3-Month Volatility (^VIX3M)<br/>
                            ☆ Crude Oil Futures (CL=F)<br/>
                            ☆ Treasury Yield 10 Years (^TNX)<br/>
                            ☆ Bitcoin USD (BTC-USD)<br/>
                            ☆ CMC Crypto 200 Index (^CMC200)<br/>
                            <br/><br/>
                            <span style="font-size: 20px;">
                            The results were measured for two securities:</span><br/>
                            ☆ SPY (an ETF that mirrors the S&P 500)<br/>
                            ☆ USO (an ETN made up of oil futures)<br/>
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <div class="parallax">
            <div>
                <br/>
            </div>
        </div>
            
        <div class="grid-container">
            <div class="left no-br align-center">
                <div class="grid-item" style="padding: 1% 1% 5% 6%;">
                    <div class="element align-center" style="width: 100%;">
                        <p><span style="font-size: 24px;">Model 2:<br/>
                            Optimizing the Neural Network Model</span><br/><br/>
                            The results from the first model narrowed down the search, and so they were fed into a second model to optimize the testing, 
                            while plots were used to verify the data distribution. 
                            <br/><br/>
                            Now that the 'VIX' and 'VIX3M' closing values were identified as inputs, they could be fed into another neural network model in 
                            Google Colaboratory that auto-optimized the variables.
                            <br/><br/>
                            With the S&P 500's one-year return as the tested result as a boolean 'yes/no' value, the two Vix symbols were scaled with 
                            MinMaxScaler instead (because all values were above zero). KerasTuner was used to auto-optimize the data. The activation was 
                            with ReLU (because of positive values), between 1-10 hidden layers, 5-200 nodes, and 5-20 epochs.

                            <br/><br/>
                            The optimal results determined by the KerasTuner optimizer were fed into the neural network with 8 hidden layers, nodes 
                            ranging from 35-200, and 20 epochs. An accuracy of 77.4% was returned.
                            <br/><br/>
                            A pandas plot chart and a seaborn plot with 
                            linear regression showed a very clear and pronounced upward-sloping trajectory of data points. This meant that higher VIX and VIX3M 
                            values translated into higher returns of the S&P 500 one year in the future. The plot charts also made it clear that there were very 
                            few negative results as the Vix values increased. The 'VIX' symbol specifically looked stronger than 'VIX3M' on the charts.
                            <br/><br/>
                            Symbol 'VIX' was now identified as the best choice for the final step, Model 3.           
                        </p>
                    </div>
                </div>
            </div>
            <div class="middle">
                <div class="no-br" style="padding: 10% 1% 5% 0%; width: 600px;">
                    <img src="static/images/model2.jpg" width="600px" style="padding: 1%" alt="Screenshot of Model 2"/>           
                </div>
            </div>  
            <div class="right">
                <div class="no-br" style="padding: 1% 1% 5% 2%; width: 500px;">
                    <img src="static/images/vix_vix3m_sp500.jpg" width="500px" style="padding: 1%" alt="Vix and Vix3m Plot"/>           
                    <img src="static/images/vix_seaborn.jpg" width="500px" style="padding: 1%" alt="Vix Seaborn Regression Plot"/>
                </div>
            </div>
        </div>


        <div class="parallax">
            <div>
                <br/>
            </div>
        </div>
            

        <div class="grid-container">
            <div class="left no-br align-center">
                <div class="grid-item" style="padding: 1% 1% 5% 6%;">
                    <div class="element align-center" style="width: 100%;">
                        <p><span style="font-size: 24px;">Model 3:<br/>
                            Linear and Non-linear Regressions</span><br/><br/>
                            With the second model confirming the Vix closing price as an input, it was then charted against the specific future results of the S&P 500 one year 
                            from that point.
                            <br/><br/>
                            A Seaborn plot chart was created, along with a Matplotlib chart. Linear and non-linear regression lines were added, as well as
                            a dividing line at zero percent with green/red plot formatting to more clearly identify positive/negative results.
                            <br/><br/>
                            SQL was run against the data to isolate the upper Vix values. The SQL results showed that above a Vix closing price of 35, 283 of 309 
                            of the one-year returns (92.5%) were positive. Above a Vix value of 50, a positive return occurred 73 of 74 times (98.6%).
                            <br/><br/>
                            Queries also show that the average one-year return with the Vix over 35 is 28.2%, and the average over 50 is 32.4%. 
                            This is in contrast to the overall average annual return for the S&P 500 over the same period at 7% (without dividends).
                            <br/><br/>
                            When building the final machine model, linear and non-linear regression models were both considered. Ultimately the linear regression model 
                            was chosen because it is the more conservative of the two on this chart. The model is available be run with user-entered values 
                            on the <a href="/models" style="color: darkgreen;">Home</a> page.

                        </p>
                    </div>
                </div>
            </div>
            <div class="middle">
                <div class="no-br" style="padding: 1% 1% 5% 0%; width: 650px;">
                    <img src="static/images/model3.jpg" width="100%" style="padding: 1%" alt="Screenshot of Model 3"/>
                    <img src="static/images/model3_sql.jpg" width="100%" style="padding: 1%" alt="Model3 SQL"/>            
                </div>
            </div>  
            <div class="right">
                <div class="no-br" style="padding: 5% 1%; width: 700px;">
                    <img src="static/images/vix_expanded_seaborn.jpg" width="700px" style="padding: 1%" alt="Model3 SQL"/>     
                    <img src="static/images/vix_sp500_regressions.jpg" width="700px" style="padding: 1%" alt="Vix-S&P 500 Chart"/>        
                </div>
            </div>
        </div>

        <div class="parallax">
            <div class="grid-item" style="padding: 3% 3% 0% 3%;">
                <div class="element align-center" style="text-align: center; width: 50%;">
                    <p class="title" style="color: black;">TECHNOLOGIES</p>
                </div>
            </div>
            <div class="grid-item" style="padding: 3% 3% 3% 3%;">
                <div class="element align-center" style="text-align: left; width: 50%;">
                    <div class="left no-br align-center" style="width: 25%">
                        <p style="font-size: 20px; text-align: center">
                            Python<br/>
                            Flask<br/>
                            GitHub<br/>
                            Pandas<br/>
                            Matplotlib<br/>
                            Seaborn<br/>
                            SQL<br/>
                            Scipy<br/>
                        </p>
                    </div>

                    <div class="middle no-br align-center" style="width: 50%">
                        <p style="font-size: 20px; text-align: center">
                            Numpy<br/>
                            APIs (internal and external)<br/>
                            Scikit-learn<br/>
                            Scikit-learn: LinearRegression<br/>
                            Scikit-learn: StandardScaler<br/>
                            Scikit-learn: MinMaxScaler<br/>
                            Scikit-learn: train_test_split<br/>
                            Scikit-learn: accuracy_score<br/>
                        </p>
                    </div>

                    <div class="right no-br align-center" style="width: 25%">
                        <p style="font-size: 20px; text-align: center">                    
                            KerasTuner<br/>
                            TensorFlow<br/>
                            Machine Learning<br/>
                            Neural Networks<br/>
                            HTML<br/>
                            CSS<br/>
                            Pickle<br/>
                            Heroku<br/>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="topnav">
            <a href="/">Home</a>
            <a class="active"href="/models">Models</a>
            <p style="color: white;padding: 0 0 0 220px;">
            Past  performance  may  not  be  indicative  of  future  results.  There can be no assurance that the future performance 
            of any specific investment, investment strategy, or product made reference to directly or indirectly on this website 
            will be profitable, equal any corresponding indicated historical performance levels, or be suitable for your portfolio.
            </p>
        </div>
        <div class="top-item">
            <p style="color: white;">
                    Real-time API data on this website is collected from <a href="https://algotrading101.com/learn/yfinance-guide/" target="_blank" rel="noopener noreferrer" style="color: white;">yfinance API</a>.
                    API data that used in building the machine learning models obtained from <a href="https://theautomatic.net/yahoo_fin-documentation/" target="_blank" rel="noopener noreferrer" style="color: white;">yahoo-fin API</a>.
                    All API data is originally sourced from <a href="https://finance.yahoo.com/" target="_blank" rel="noopener noreferrer" style="color: white;">yahoo! Finance</a>.
                    </p>
        </div>
            
    </body>

</html>